{% extends 'include.twig' %}

{% block content %}
  <!--============== Formulário ==============-->

  <section class="Subscribe">
    <form method="post" action="{{ app.urlFor('sendCadastro') }}" id="form" data-parsley-validate>
      <div class="container">
        <div class="row">
          <h1 class="title text-center">Cliente que já trabalha com transponder</h1>
        </div>
        <div class="row">
          <div class="col-lg-8 col-lg-push-2">
            <div class="text-center">
              <label for="pf" class="radio-inline">
                <input type="radio" id="pf" name="tipopessoa" value="pessoafisica" checked>
                Pessoa física
              </label>
              <label for="pj" class="radio-inline">
                <input type="radio" id="pj" name="tipopessoa" value="pessoajuridica">
                Pessoa jurídica
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-lg-push-2">
            <div class="form-group">
              <input type="text" name="nome" placeholder="Nome completo" class="form-control input-lg" data-parsley-error-message="O campo Nome é obrigatório" required>
            </div>
            <div class="form-group">
              <input type="text" name="razao" placeholder="Razão social" class="form-control input-lg" data-parsley-error-message="O campo Razão é obrigatório" required>
            </div>
            <div class="form-group" id="inputPessoa">
              <input type="text" name="cpf" id="cpf" placeholder="CPF" class="form-control input-lg" data-parsley-error-message="O campo CPF é obrigatório" required>
            </div>
            <div class="form-group" id="inputRg">
              <input type="text" name="rg" id="rg" placeholder="RG" class="form-control input-lg" data-parsley-error-message="O campo RG é obrigatório" required>
            </div>
            <div class="form-group">
              <input type="text" name="tel" id="tel" placeholder="Telefone" class="form-control input-lg" data-parsley-error-message="O campo Telefone é obrigatório" required>
            </div>
            <div class="form-group">
              <input type="text" name="cel" placeholder="Celular" class="form-control input-lg">
            </div>
            <div class="form-group">
              <input type="email" name="email" placeholder="E-mail" class="form-control input-lg" data-parsley-error-message="O campo E-mail é obrigatório" required>
            </div>
            <div class="form-group">
              <input type="text" name="cep" id="cep" placeholder="CEP" class="form-control input-lg" data-parsley-error-message="O campo CEP é obrigatório" required>
            </div>
            <div class="form-group">
              <input type="text" name="endereco" placeholder="Endereço" class="form-control input-lg" data-parsley-error-message="O campo Endereço é obrigatório" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-lg-push-2">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <input type="text" name="bairro" placeholder="Bairro" class="form-control input-lg" data-parsley-error-message="O campo Bairro é obrigatório" required>
                </div>
                <div class="form-group">
                  <input type="text" name="estado" placeholder="Estado" class="form-control input-lg" data-parsley-error-message="O campo Estado é obrigatório" required>
                </div>
                <div class="form-group">
                  <input type="text" name="cod" placeholder="Código do cliente" class="form-control input-lg" data-parsley-error-message="O campo Cód do cliente é obrigatório" required>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <input type="text" name="cidade" placeholder="Cidade" class="form-control input-lg" data-parsley-error-message="O campo Cidade é obrigatório" required>
                </div>
                <div class="form-group">
                  <input type="text" name="compl" placeholder="Complemento" class="form-control input-lg" data-parsley-error-message="O campo Complemento é obrigatório" required>
                </div>
                <div class="form-group">
                  <input type="text" name="att" placeholder="Atendimento por revendedor" class="form-control input-lg" data-parsley-error-message="O campo Atendimento é obrigatório" required>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-lg-push-2">
            <div class="form-group">
              <input type="text" name="nomerev" placeholder="Nome do revendedor" class="form-control input-lg" data-parsley-error-message="O campo Nome revendedor é obrigatório" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-lg-push-2">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <input type="text" name="nummaq" placeholder="Número da máquina" class="form-control input-lg" data-parsley-error-message="O campo Número da máquina é obrigatório" required>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <input type="text" name="nummaq2" placeholder="Número da máquina 2" class="form-control input-lg">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-lg-push-2">
            <div class="row">
              <div class="col-lg-12">
                  <p><a href="{{ app.urlFor('home') }}files/termo-de-adesao-licensa-de-uso-a.pdf" title="Cliente que já trabalha com transponder" target="_blank">Clique aqui</a> e baixe o formulário de adesão.</p>
                <label class="checkbox-inline">
                  <input type="checkbox" name="aceito" id="term">li e aceito os <a href="{{ app.urlFor('home') }}files/contrato.pdf" download="contrato.pdf">termos do contrato de serviço</a>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <button class="btn btn-lg btn-block btn-primary" id="submit" disabled>enviar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>

  <!--============== Newsletter ==============-->

  <section class="Newsletter">
    <div class="container">
      <div class="row">
        <h1 class="title text-center">Newsletter</h1>
        <h3 class="text-center">Fique informado sobre nossas novidades</h3>
        <form action="">
          <div class="form-group">
            <input type="text" name="newsletter" placeholder="Digite seu e-mail" class="form-control input-lg">
          </div>
          <div class="text-center">
            <button class="btn btn-lg btn-primary">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </section>

<!--============== Contato ==============-->

<section class="container Contact" id="contato">
  <div class="row PageHead">
    <div class="col-md-12">
      <h1 class="title text-center">Contato</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="contactInfo">
        <div class="contactInfoItem">
          <h4>Matriz</h4>
          <p>Rua Luigi Greco, 46 - Barra Funda<br>
          São Paulo - SP, CEP: 01135-030
          </p>
        </div>
        <div class="contactInfoItem">
          <p><a href="mailto:&#103;&#116;&#101;&#99;&#104;&#64;&#99;&#104;&#97;&#118;&#101;&#115;&#103;&#111;&#108;&#100;&#46;&#99;&#111;&#109;&#46;&#98;&#114;">&#103;&#116;&#101;&#99;&#104;&#64;&#99;&#104;&#97;&#118;&#101;&#115;&#103;&#111;&#108;&#100;&#46;&#99;&#111;&#109;&#46;&#98;&#114;</a></p>
        </div>
        <div class="contactInfoItem">
          <div>(11) 3879-6882</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
     <ul class="phoneList">
       <li>
         <h4>Sede Jundiaí</h4>
         <p>Av Benedito Quina da Silva, 511 - Jundiai<br> São Paulo - SP CEP: 13212-141<br>
          Tel: (11) 4525-6550
         </p>
       </li>
       <li>
         <h4>Sede Pouso Alegre</h4>
         <p>Av. Pref Olavo Gomes de Oliveira Aeroporto<br>
          Pouso Alegre - MG - CEP: 37550-000<br>
          Tel: (35) 3421-4298
         </p>
       </li>
     </ul>
    </div>
    <div class="col-md-6">
      <form class="form" id="phpcontactform">
        <div class="form-group">
          <input class="form-control input-lg" type="text" placeholder="Nome" name="name" id="name">
        </div>
        <div class="form-group">
          <input class="form-control input-lg" type="email" placeholder="Email" name="email" id="email">
        </div>
        <div class="form-group">
          <textarea class="form-control" rows="10" name="message" placeholder="Sua mensagem" id="message"></textarea>
        </div>
        <div class="form-group">
          <input class="btn btn-primary btn-lg" type="submit" value="Enviar" />
        </div>
      </form>
    </div>
  </div>
</section>

{% endblock %}

{% block js %}
<script src="{{ app.urlFor('home') }}assets/js/parsley.min.js"></script>
<script>
  $('#form').parsley();
</script>
<script src="{{ app.urlFor('home') }}assets/js/jquery.mask.min.js"></script>
<script>
  $('#cpf').mask('000.000.000-00', {reverse: true});
  $('#rg').mask('00.000.000-0');
  $('#tel').mask('(00) 0000-0000');
  $('#cep').mask('00000-000');
</script>
{% endblock %}
